####  ---------list练习---------

In [2]:
classmates = ['Michael','Bob','Tracy']
classmates

['Michael', 'Bob', 'Tracy']

len(classmates)

In [8]:
classmates[2]

'Tracy'

In [12]:
classmates.append('Adam')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam', 'Adam', 'Adam']

In [14]:
classmates.insert(1,'Jack')
classmates

['Michael', 'Jack', 'Jack', 'Jack', 'Bob', 'Tracy', 'Adam', 'Adam', 'Adam']

In [21]:
classmates.pop()

'Adam'

In [23]:
classmates

['Michael', 'Jack', 'Jack', 'Jack', 'Bob', 'Tracy']

In [25]:
classmates.pop(1)
classmates

['Michael', 'Jack', 'Bob', 'Tracy']

In [29]:
classmates[1] = 'Kzj'
classmates

['Michael', 'Kzj', 'Bob', 'Tracy']

In [36]:
s = ['python', 'java', ['asp', 'php'], 'scheme']
print(len(s))
s[2][1]

4

'php'

In [33]:
num1 = 100
num2 = 200
test = ['abc',num1,num2,True,num1+num2]
test

['abc', 100, 200, True, 300]

### --------------------tuple练习---------------

In [40]:
t = ()
t

()

In [42]:
t = (1,)
t

(1,)

In [43]:
t= ('a','b',['A','B'])
t[2][0] = 'X'
t[2][1] = 'Y'
t

('a', 'b', ['X', 'Y'])

### --------print()和input()----------------

In [45]:
num1 = 100
num2 = 200 
print('num1 = d% num2 = d% ',num1,num2)

num1 = d% num2 = d%  100 200

In [47]:
name = input()

kzj

In [48]:
name

'kzj'

In [49]:
name = input('please enter your name: ')
print('hello,',name)

please enter your name: KZJ
hello, KZJ

In [1]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [3]:
def my_abs(x):
    if x >=0:
        return x
    else:
        return -x
my_abs(-9)

9